<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<log4net>
		<root>
			<level value="ALL" />
			<appender-ref ref="console" />
			<appender-ref ref="file" />
			<appender-ref ref="CustomLogAppender" />
		</root>
		<appender name="console" type="log4net.Appender.ManagedColoredConsoleAppender">
			<mapping>
				<level value="INFO" />
				<forecolor value="Green" />
			</mapping>
			<mapping>
				<level value="WARN" />
				<forecolor value="Yellow" />
			</mapping>
			<mapping>
				<level value="ERROR" />
				<forecolor value="Red" />
			</mapping>
			<mapping>
				<level value="DEBUG" />
				<forecolor value="Blue" />
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level %logger.%method[%line] - %message%newline" />
			</layout>
			<threshold value="ERROR" />
		</appender>
		<appender name="file" type="log4net.Appender.RollingFileAppender">
			<file value="main.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger.%method[%line] - %message%newline" />
			</layout>
		</appender>
		<!--<appender name="LogglyAppender" type="Loggin.Custom.CustomAppneder, Loggin">
			<rootUrl value="https://logs-01.loggly.com/" />
			-->
		<!--<inputKey value="0e729a6e-9b0d-4c51-8639-8f09fc95033a" />-->
		<!--
			<inputKey value="d6614936-f299-402e-8412-663e347787be" />
			-->
		<!--<layout type="Loggin.CustomLayout" />-->
		<!--
			<tag value="log4net,EpiServerTestLog" />
		</appender>-->
		<appender name="CustomLogAppender" type="Loggin.Custom.CustomLogAppneder, Loggin">
			<rootUrl value="https://logs-01.loggly.com/" />
			<customerToken value="d6614936-f299-402e-8412-663e347787be" />
			<tag value="EpiServerCustomLogger,CustomTag" />
		</appender>
	</log4net>
</configuration>